bokstory.iptime.org {
    encode zstd gzip

    reverse_proxy wordpress:80

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy strict-origin-when-cross-origin
    }

    log {
        output stdout
        format console
    }
}
